.gradient-background {
  background: linear-gradient(300deg, gray, white, rgb(8, 8, 146));
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}

.portfolio {
  margin-left: 5px;
}
.portFolio-nav-bar {
  height: 30vh;
}
.intro {
  height: 70vh;
}
.my-pic {
  height: 150px;
  width: 150;
  border-radius: 50%;
}

.bigger-name {
  font-size: 4rem;
}
.text-edit {
  font-family: "Times New Roman", Times, serif;
}
.column {
  margin-top: 20px;
  margin-bottom: 20px;
}
.project-div {
  height: 100vh;
}
.features {
  margin-top: 20px;
}
@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animated-box {
  transition: transform 0.3s ease 0s;
}
.animated-box:hover {
  transform: translateY(-20px);
}
